body {padding: 0; margin: 0;}

.overlay {
    font-family: 'Raleway', sans-serif;
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;
}

a.btn {
    background: #1ED760;
    color: #fff;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
